.project-card{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    background-color: #3a3a3a;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);

    .project-cape{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 12px;

        .project-name{
            margin-bottom: 20px;
            color: white;
            font-size: 15px;
            font-weight: bolder;
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
        }
    }

    &:hover{
        transition: .4s;
        transform: translateX(-4px) translateY(-4px) rotate(-2.5deg);
    }
}

.card-center {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
  
.card-left {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    margin-left: -70px;
}
  
.card-right {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    margin-right: -70px;
}