.container-contato{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3a3a3a;

    .content{
        color: white;
        margin-top: 60px;
        padding: 20px; 
        height: 100%;
        h2{
            font-weight: bolder;
            font-size: 18px;
            text-align: center;
            margin-bottom: 6px;
        }

        .row{
            margin-top: 12px;
            margin-bottom: 12px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;

        }
    }
    h2{
        font-weight: bolder;
        color: white;
        margin-bottom: 8px;
    }
    .mapa{
        width: 100%;
        border: none;
        margin-bottom: 20px;
    }
}