$mainColor: #F8333C;

.red-letter{
    color: $mainColor;
}

.bolder{
    font-weight: bolder;
}

@media (min-width: 320px){
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-top{
        background-image: url("../assets/Background.png");
        background-size: contain;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .home-top-content{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 80px;

            .home-call{
                color: white;
                font-size: 14px;
                font-style: italic;
            }
    
            .home-title{
                font-size: 40px;
                color: white;
            }
    
            .home-subtitle{
                color: white;
                font-size: 16px;
                margin-top: 10px;
            }
    
            .home-top-buttons{
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top: 20px;
                justify-content: space-between;
            }
        }
    
        .home-top-img{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 95%;

            .home-img{
                height: 100%;
                z-index: 2;
            }    
        }
    }

    .beneficios{
        background-color: white;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
        
        .beneficios-card{
            margin-top: 10px;
            width: 80%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            backdrop-filter: blur(5px);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
            align-items: center;
            padding: 16px 12px ;
            margin-bottom: 20px;
            background-image: url('../assets/view1.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .beneficios-list{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            
                .beneficio-item{
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    font-weight: bold;
                    
                    .check{
                        margin-right: 8px;
                        font-size: 1.2rem;
                        color: rgb(142, 209, 40);
                    }
                }
            }

            .beneficio-title{
                font-weight: bolder;
                font-size: 28px;
                text-align: center;
                margin-bottom: 6px;
            }
        }

        .cards-beneficios{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .home-projects{
        width: 100%;
        background-image: url('../assets/Background3.png');
        background-size: cover;
        padding: 0 20px;
        padding-bottom: 20px;

        .projects-first{
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            align-items: center;

            .projects-title{
                font-weight: bolder;
                color: #d12932;
                font-size: 20px;
                margin-top: 12px;
            }

            .projects-resume{
                color: black;
                font-weight: 500;
                font-size: 16px;
                margin-top: 6px;
            }

            .projects-cards{
                margin-top: 12px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }

    .home-mid{
        z-index: 5;
        background-image: url('../assets/background2.png');
        background-size: contain;
        height: auto;

        .home-mid-content{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 20px;

            .text-call{
                font-weight: bold;
                color: black;
                font-size: 18px;
                margin-bottom: 10px;
            }
        
            .home-mid-title{
                font-size: 30px;
                font-weight: bolder;
                margin-bottom: 20px;
                text-align: center;
            }
        
            .home-mid-text{
                height: auto;
                width: 100%;
                font-size: 20px;
                text-align: center;
                margin-bottom: 6px;
            }
        
            .logos-universidades{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 170px;
                margin-top: 20px;
                
                .logo-universidade{
                    width: 60px;
                    height: 60px;
                }
                
                .large{
                    width: 90px;
                }
            }
        }

    }

    .home-midbot{
        background-color: #191A1A;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;

        .home-history{
            display: flex;
            flex-direction: column;
            padding: 0 20px;

            .history-name{
                font-size: 18px;
                color: white;
                margin-top: 20px;
            }
    
            .history-title{
                font-size: 32px;
                font-weight: bolder;
                color: white;
                margin-top: 8px;
            }
    
            .history-instruct{
                font-weight: 200;
                color: whitesmoke;
                padding-bottom: 16px;
                margin-top: 10px;
                border-bottom: 1px solid #f8333d72;
                font-style: italic;
                font-size: 14px;
            }
    
            .history-subtitle{
                font-size: 16px;
                color: white;
                margin-top: 6px;
            }
        }
    
        .history-span{
            font-size: 18px;
            font-weight: bolder;
            color: white;
            margin-left: 20px;
        }
        
        .historys-field{
            width: 100%;
            height: 90vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        
        }

        .more{
            color: white;
            font-weight: bolder;
            cursor: pointer;
            text-shadow: 2px 2px 4px white;
            align-self: center;
            margin-top: 12px;

            &:hover{
                color: #F8333C;
            }
        }
    }

    .faixa-end{
        width: 100%;
        background-color: #d12932;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;

        .faixa-end-name{
            font-weight: bolder;
            color: white;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
}

@media (min-width: 768px){

    .home-top{

        .home-top-content{

            .home-top-buttons{
                display: flex;
                flex-direction: row;
                width: 50%;
                margin-top: 20px;
            }

        }
    }
    
    .beneficios{

        .beneficios-card{
            margin-top: 0px;
            margin-top: 14px;
            align-items: flex-start;
            border: 4px solid #d12932;
            background-image: url('../assets/view1.png');
            background-size: cover;
            background-position: center;
        }

        .cards-beneficios{
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .home-midbot{
        .historys-field{
            height: 35vh;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

}

@media (min-width: 1024px) {
    .home-top{
        flex-direction: row;
        height: 90vh;
        padding: 40px 40px 0px 40px;

        .home-top-content{
            width: 60%;

            .home-top-buttons{
                width: 55%;
            }
        }

        .home-top-img{
            width: 40%;
            align-self: flex-end;

            .home-img{
                width: 100%;
            }
        }
    }

    .home-mid{
        height: 90vh;

        .home-mid-content{
            justify-content: space-around;
        }
    }

    .home-midbot{
        height: 90vh;

        .historys-field{
            margin-top: 20px;
            height: 60vh;
            width: 100%;
            gap: 20px;
            justify-items: center;
            align-items: center;
        }
    }
}

@media (min-width: 1440px){
    .home-top{
        flex-direction: row;
        height: 90vh;
        padding: 40px 40px 0px 40px;

        .home-top-content{
            width: 60%;

            .home-top-buttons{
                width: 40%;
            }
        }
    }

    .home-projects{
        height: 100vh;

        .projects-first{
            text-align: center;
            margin-top: 140px;
        }
        
        .projects-resume{
            margin-bottom: 20px;
        }

        .projects-cards{
            margin-top: 80px;
        }
    }

    .home-midbot{
        align-items: center;
        text-align: center;
        .historys-field{
            width: 50%;
        }
    }
}