.beneficio-container{
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    padding: 14px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .beneficio-title{
        font-weight: bolder;
        font-size: 1.2rem;
    }

    .beneficio-resume{
        margin-top: 10px;
        width: 90%;
        text-align: center;
    }
}