@media (min-width: 320px) {
    .rodape{
        height: 100vh;
        width: 100%;
        background-color: #191A1A;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .social-img{
            width: 170px;
            margin-top: 40px;
        }


        .rodape-content{
            padding: 20px;
    
            .social-field{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;            
                margin-top: 24px;
                align-self: center;
    
                .social{
                    width: 20px;
                    height: 20px;
                    color: rgb(255, 255, 255);
                }
            }
    
            .footer-institucional{
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                width: 100%;
    
                .footer-link{
                    color: white;
                    font-size: 20px;
                    margin-top: 8px;
                }
            
            }
    
            .footer-contato{
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                .footer-contato-line{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 14px;
                    margin-top: 12px;
                    color: white;
    
                    .icone{
                        font-size: 20px;
                        color: #F8333C;
                    }
    
                    .map{
                        font-size: 28px;
                    }
                }
            }
        }

        .footer-title{
            font-weight: bold;
            color: #F8333C;
            font-size: 30px;
        }

        .footer-assinatura{
            width: 100%;
            height: 10vh;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #181818b4;

            .footer-linktree{
                margin-left: 4px;
                color: white;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}